@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-item.is-active {
    background-color: #ffff0000;
    color: white !important; /* Cor do texto */
    font-weight: bold; /* Negrito */
}

.navbar {
    border-bottom: 1px solid #6b6b6b;
}

.navbar-brand {
    min-width: 139px;
}

.navbar-start {
    justify-content: center;
    flex: 1;
    margin: 0;
}

.navbar-end {
    min-width: 139px;
    margin: 0;
}

.navbar-item-user {
    display: flex;
    align-items: center;
    padding: 0.5em;
    gap: 0.75em;
}

.navbar-burger {
    color: white;
}

.navbar-logo {
    border: solid white 2px;
    border-radius: 50%;
    height: 3em;
    width: 3em;
    object-fit: cover;
}

.login-buttons {
    display: flex;
    justify-content: center;
}

.invisible-navbar {
    height: 65px;
}

.hero.is-fullheight {
    min-height: calc(100vh - 65px); /* Subtraímos a altura da navbar fixa */
}

.title-center {
    text-align: center;
}

.table-container {
    overflow-x: auto;
}

.table,
.table th,
.table td {
    align-content: center;
    text-align: center ! important;
}


.table td:first-child {
    /* Afeta as células da primeira coluna */
    min-width: 150px;
    white-space: nowrap;
}

.table-buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.pagination {
    justify-content: center !important;
    flex-direction: column !important;
}

.text-pagination {
    margin-block: 1em;
}

.hidden-icon {
    display: none;
    margin: 0 !important;
}

.hidden-text-button-2 {
    display: none;
}

.avatar {
    object-fit: cover;
    border-radius: 50%;
    height: 15em;
    width: 15em;
}

.error-404-image {
    height: 20em;
}


/*Media queries*/


@media screen and (max-width: 1023px) {

    .navbar-start {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .invert-column-mobile {
        display: flex;
        flex-direction: column-reverse;
    }
}
  

@media screen and (max-width: 400px) {

    .hidden-icon {
        display: block;
    }

    .hidden-text-button {
        display: none;
    }
    
    .hidden-text-button-2 {
        display: block;
    }

    .error-404-image {
        height: 15em;
    }

}