@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    border-bottom: 1px solid #6b6b6b;
}

.navbar-burger {
    color: white;
}

.navbar-logo {
    height: 3em;
}

.login-buttons {
    display: flex;
    justify-content: center;
}

.invisible-navbar {
    height: 57px;
}

.title-center {
    text-align: center;
}

.table-container {
    overflow-x: auto;
}

.table,
.table th,
.table td {
    align-content: center;
    text-align: center ! important;
}


.table td:first-child {
    /* Afeta as células da primeira coluna */
    min-width: 150px;
    white-space: nowrap;
}

.table-buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.pagination {
    justify-content: center !important;
    flex-direction: column !important;
}

.text-pagination {
    margin-block: 1em;
}

.hidden-plus {
    display: none;
    margin: 0 !important;
}

/*Media queries*/


@media screen and (max-width: 1024px) {

    .navbar-start {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 400px) {

    .hidden-plus {
        display: block;
    }

    .hidden-text-button {
        display: none;
    }

}