{% load static %}
<!DOCTYPE html>
<html lang="pt-br" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark">
    <link rel="shortcut icon" href="{% static 'images/user-logo.svg' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block title %}
        <title>Title</title>
    {% endblock %}
</head>

<body>
    <header>

        {% block navbar %}
            <nav class="navbar is-fixed-top" role="navigation">
                <div class="navbar-brand">
                    <a class="navbar-item-user" href="{% url 'configuracoes' %}">
                        <img class="navbar-logo" src="{% if user.profile_picture %}{{ user.profile_picture.url }}{% else %}/media/default_profile/default-avatar.jpg{% endif %}" alt="Avatar">
                        <p class="is-size-6 has-text-white">
                            {% if user.is_authenticated %} {{user}} {% else %} Usuário {% endif %}
                        </p>
                    </a>

                    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false"
                        data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>

                <div class="navbar-menu" id="navMenu">
                    <div class="navbar-start">
                        <a href="{% url 'home' %}" class="navbar-item {% if request.resolver_match.url_name == 'home' %}is-active{% endif %}">
                            Home
                        </a>
                        <a href="{% url 'tarefas' %}" class="navbar-item {% if request.resolver_match.url_name == 'tarefas' %}is-active{% endif %}">
                            Tarefas
                        </a>                        
                        <a class="navbar-item" href="">Usuários</a>
                        <a class="navbar-item" href="">Sobre</a>
                    </div>

                    <div class="navbar-end login-buttons">
                        <div class="navbar-item">
                            <div class="buttons">
                                {% if user.is_authenticated %}
                                    <a href="{% url 'logout' %}" class="button has-background-danger-65" data-confirm="Tem certeza que deseja sair?">
                                        <strong>Sair</strong>
                                    </a>
                                {% else %}
                                    <a href="{% url 'login' %}" class="button has-background-info-45">
                                        <strong>Login</strong>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="invisible-navbar"></div>
        {% endblock %}

    </header>
    <main class="hero is-fullheight">
        {% block content %}

        {% endblock %}
    </main>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>