{% load static %}
<!DOCTYPE html>
<html lang="pt-br" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/user-logo.svg' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <title>Redefinir Senha</title>
</head>

<body>
    <main class="hero is-fullheight">
        <section class="container has-text-centered">
            <section class="section">
                <h1 class="title is-2">Esqueci a senha</h1>
                <hr class="has-background-white">
                <p class="subtitle is-4">Preencha os campos abaixo</p>
                <p class="">Um e-mail será enviado com as instruções para redefinir a senha.</p>
            </section>

            {% if messages %}
                <section class="notification has-text-white {% for message in messages %}
                    {% if 'success' in message.tags %}is-success
                    {% elif 'error' in message.tags %}is-danger
                    {% elif 'info' in message.tags %}is-info
                    {% elif 'defaultmsg' %}{% endif %}{% endfor %}">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </section>
            {% endif %}
            
            <section class="section">
                <form method="post">
                    {% csrf_token %}
                    <div class="field">
                        <label class="label is-size-4">Usuário</label>
                        <div class="control has-icons-left">
                            <input name="username" class="input is-medium" type="text" placeholder="Nome de usuário">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label is-size-4">E-mail</label>
                        <div class="control has-icons-left">
                            <input name="email" class="input is-medium" type="email" placeholder="E-mail">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                    </div>
                    <button type="submit" class="button is-block is-large is-fullwidth login-margin-block is-primary has-text-white">Enviar</button>
                    <a class="has-text-info" href="{% url 'login' %}">Voltar</a>
                </form>
            </section>
        </section>
    </main>
</body>

</html>