{% extends "base.html" %}
{% block title %}
<title>Tarefas</title>
{% endblock %}
{% block content %}
<section class="container">
    <section class="section">
        <h1 class="title is-2 title-center">Lista de Tarefas</h1>
    </section>
    <section class="section field is-grouped">
        <div class="control has-icons-left  has-addons">
            <a href="{% url 'tarefa-nova' %}">
                <button class="button is-expanded is-primary">Adicionar Tarefa</button>
            </a>
        </div>
        <form class="control is-expanded has-icons-right" method="get" action="{% url 'home' %}">
            <input class="input is-normal" type="search" value="{{ search_query|default_if_none:'' }}" name="search"
                placeholder="Informe a tarefa">
            <span class="icon is-small is-right">
                <i class="fas fa-search"></i>
            </span>
        </form>
    </section>
    {% if messages %}
    <section class="section">
        <div class="notification {% for message in messages %}{% if 'success' in message.tags %}is-success{% elif 'error' in message.tags %}is-danger{% endif %}{% endfor %}">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
    </section>
    {% endif %}
    {% if no_results %}
    {% else %}
    <section class="section">
        <div class="table-container">
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>Tarefa</th>
                        <th>Status</th>
                        <th>Editar</th>
                        <th>Excluir</th>
                    </tr>
                </thead>
                {% for Lista_tarefas in tarefas %}
                <tbody>
                    <tr>
                        <td><a href="{% url 'tarefa' Lista_tarefas.id %}">{{Lista_tarefas.title}}</a></td>
                        <td>{{Lista_tarefas.done}}</td>
                        <td>
                            <a href="{% url 'editar-tarefa' Lista_tarefas.id %}">
                                <button class="button is-primary button-table" title="Editar">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                            </a>
                        </td>
                        <td>
                            <form method="post" action="{% url 'deletar-tarefa' Lista_tarefas.id %}"
                                onsubmit="return confirmDelete(event);">
                                {% csrf_token %}
                                <button type="submit" class="button is-danger button-table" title="Excluir">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </section>
    {% endif %}
    {% if no_results %}
    {% else %}
    <section class="section">
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            <span class="text-pagination has-text-grey">Página {{ tarefas.number }} de {{ tarefas.paginator.num_pages }}
            </span>
            <div>
                {% if tarefas.has_previous %}
                <a href="?page={{ tarefas.previous_page_number }}&search={{ search_query }}" class="pagination-previous">Anterior</a>
                {% endif %}

                {% if tarefas.has_next %}
                <a href="?page={{ tarefas.next_page_number }}&search={{ search_query }}" class="pagination-next">Próximo</a>
                {% endif %}
            </div>
        </nav>
    </section>
    {% endif %}
</section>

{% endblock %}