{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/user-logo.svg' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <title>Login</title>
</head>

<body>
    <main class="hero is-fullheight">
        <section class="container has-text-centered">
            <section class="section">
                <h1 class="title is-2">Login</h1>
                <hr class="has-background-white">
                <p class="subtitle is-4">Acesse sua conta</p>
            </section>
            {% if messages %}
            <div class="notification has-text-white {% for message in messages %}{% if 'success' in message.tags %}is-success{% elif 'error' in message.tags %}is-danger{% endif %}{% endfor %}">
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            <section class="section">
                <form method="post">
                    {% csrf_token %}
                    <div class="field">
                        <label class="label is-size-4">Usuário</label>
                        <div class="control has-icons-left">
                            <input name="username" class="input is-medium" type="text" placeholder="Nome de usuário">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label is-size-4">Senha</label>
                        <div class="control has-icons-left">
                            <input name="password" class="input is-medium" type="password" placeholder="Senha" minlength="6">
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </div>
                    </div>
                    <a class="has-text-info" href="{% url 'email-password-reset' %}">Esqueci minha senha</a>
                    <button type="submit" class="button is-block is-large is-fullwidth login-margin-block is-primary has-text-white">Login</button>
                    <p class="has-text-white">Ainda não possui uma conta? <a class="has-text-info" href="{% url 'cadastro' %}">Cadastre-se</a></p>
                </form>
            </section>
        </section>
    </main>
</body>

</html>