{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/user-logo.svg' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <title>Redefinir senha</title>
</head>

<body>
    <main class="hero is-fullheight">
        <section class="container has-text-centered">
            <section class="section">
                <h1 class="title is-2">Redefinir Senha</h1>
                <hr class="has-background-white">
                <p class="subtitle is-4">Preencha os campos abaixo</p>
            </section>
            
            {% if messages %}
            <section class="notification has-text-white {% for message in messages %}
                {% if 'success' in message.tags %}is-success
                {% elif 'error' in message.tags %}is-danger
                {% elif 'info' in message.tags %}is-info
                {% elif 'defaultmsg' %}{% endif %}{% endfor %}">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </section>
            {% endif %}

            <section class="section">
                <form method="post">
                    {% csrf_token %}
                    <div class="field">
                        <label class="label is-size-4">Senha</label>
                        <div class="control has-icons-left">
                            <input name="new_password" class="input is-medium" type="password" placeholder="Nova Senha" minlength="6">
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </div>
                        <p class="help has-text-left">
                            Sua senha não pode conter apenas caracteres repetidos.<br>
                            Sua senha deve ter pelo menos 6 caracteres.
                        </p>
                    </div>
                    <div class="field">
                        <label class="label is-size-4">Confirme a Senha</label>
                        <div class="control has-icons-left">
                            <input name="confirm_password" class="input is-medium" type="password" placeholder="Confirme a Senha" minlength="6">
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </div>
                        <p class="help has-text-left">Confirme a sua senha.</p>
                    </div>
                    <button type="submit" class="button is-block is-large is-fullwidth login-margin-block is-primary has-text-white">Enviar</button>
                    <a class="has-text-info" href="{% url 'login' %}">Voltar</a>
                </form>
            </section>
        </section>
    </main>
</body>

</html>